//-------------------------------------------------------------------------//
// Crumbs //
//-------------------------------------------------------------------------//
.Crumbs {
  .flex(@j:flex-start);
  margin: 25px 0;

  &__item {
    font-size: @s_text_1;

    &_current {
      font-family: @f_Monserat_b;
      color: @c_blue;
    }
  }

  &__delimiter {
    display: inline-block;
    margin: 0 5px;
  }
}