//-------------------------------------------------------------------------//
// ToUp //
//-------------------------------------------------------------------------//
.ToUp {
  .transition();
  background: @c_blue;
  color: @c_white;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 999;
  border-radius: 10px;

  &:hover {
    background: @c_blue_d;
  }
}