{extends 'template:Base'}

{block 'Content'}
  <div class="Container">
    {$_modx->getChunk('Crumbs')}
    <h1 class="H H_c1 H_w1 H_s1 H_m1 H_v2">{$_modx->resource.pagetitle}</h1>
    {$_modx->resource.content}
    <div class="Catalog__list">
      {$_modx->runSnippet('msProducts@PropertySet', [
        'parents' => $_modx->resource.id,
        'tpl' => 'CatalogItem',
        'limit' => 0
      ])}
    </div>
    <div class="tabs__menu">
      <div class="container">
        <ul>
          <li class="js_tabs_menu js_active" data-id="1">Характеристики</li>
          [[*content:notempty=`
          <li class="js_tabs_menu" data-id="2">Описание</li>
          `]]
        </ul>
      </div>
    </div>
    <div class="tabs__items">
      <div class="container">
        [[*content:notempty=`
        <div class="tabs__items_item js_tabs_item" data-id="2">
          <h2>Описание [[*pagetitle]]</h2>
          [[*content]]
        </div>
        `]]
      </div>
    </div>
  </div>
{/block}