{extends 'template:Base'}

{block 'Content'}
  {$_modx->getChunk('Filter')}
  <div class="Catalog" id="mse2_mfilter">
    <div class="Catalog__top">
      <div class="Filter">
        <div class="Container">
          {$_modx->getChunk('Crumbs')}
          <form action="{$_modx->resource.uri}" method="post" id="mse2_filters" class="Form Filter__form">
            <div class="Filter__filters">
              {'filter_filters' | placeholder}
              <button type="reset" class="Button Button_v5 Button_mw2 Button_s1 Button_p1 hidden">Сбросить</button>
            </div>
          </form>
          <div class="Filter__enabled js_filter_enabled">
          </div>
        </div>
      </div>
    </div>
    <div class="Catalog__middle">
      <div class="Container">
        <h1 class="H H_c1 H_w1 H_s1 H_m2 H_v2">{$_modx->resource.pagetitle}</h1>
        <div class="Catalog__content">
          {$_modx->resource.content}
        </div>
      </div>
    </div>

    <div class="Catalog__bottom">
      <div class="Container">
        <div class="Catalog__items" id="mse2_results" >
          {'filter_results' | placeholder}
        </div>
        <div class="Filter__pagination mse2_pagination" id="mse2_pagination">
          {'page.nav' | placeholder}
        </div>
      </div>
    </div>
  </div>
  {$_modx->getChunk('CatalogBlock')}
  {$_modx->getChunk('WhyBlock')}
  {$_modx->getChunk('ContactsBlock')}
{/block}