{extends 'template:Base'}
{import 'Form' as Form}

{block 'Content'}
  {'Filter' | chunk}
  <div class="Catalog" id="mse2_mfilter">
    <div class="Catalog__top">
      <div class="Filter">
        <div class="Container">
          {'Crumbs' | chunk}
          <form action="{$_modx->resource.uri}" method="post" id="mse2_filters" class="Form Filter__form" data-js="Filter">
            <div class="Filter__filters">
              {'filter_filters' | placeholder}
              <button type="reset" class="Button Button_v5 Button_mw2 Button_s1 Button_p1 hidden">Сбросить</button>
            </div>
          </form>
          <div class="Filter__enabled js_filter_enabled">
          </div>
        </div>
      </div>
    </div>
    <div class="Catalog__middle">
      <div class="Container">
        <h1 class="T_bold T_c1 T_w1 T_s9 T_m3 T_upper">{$_modx->resource.pagetitle}</h1>
        <div class="Catalog__content">
          {$_modx->resource.content}
        </div>
      </div>
    </div>

    <div class="Catalog__bottom {if $_modx->resource.id == 3} Catalog__bottom_m1 {/if}">
      <div class="Container Container_relative">
        {if $_modx->resource.id == 3}
          <div class="Catalog__filter">
            {set $opts = [
              'value' => 'Стеновой паз-гребень с захватом для рук',
              'label_text' => 'Стеновой паз-гребень с захватом для рук',
              'label_class' => 'T_s1 T_c1',
              'id' => 'opt_type_block_0',
              'checked' => 'false',
              'name' => 'filter',
              'icon' => false
            ]}
            {Form.filter opts=$opts}

            {set $opts = [
              'value' => 'Стеновой прямой',
              'label_text' => 'Стеновой прямой',
              'label_class' => 'T_s1 T_c1',
              'id' => 'opt_type_block_1',
              'checked' => false,
              'name' => 'filter',
              'icon' => false
            ]}
            {Form.filter opts=$opts}

            {set $opts = [
              'value' => 'Стеновой прямой с захватом для рук',
              'label_text' => 'Стеновой прямой с захватом для рук',
              'label_class' => 'T_s1 T_c1',
              'id' => 'opt_type_block_2',
              'checked' => false,
              'name' => 'filter',
              'icon' => false
            ]}
            {Form.filter opts=$opts}
          </div>
        {/if}
        <div class="Catalog__items" id="mse2_results" >
          {'filter_results' | placeholder}
        </div>
        <div class="Filter__pagination mse2_pagination" id="mse2_pagination">
          {'page.nav' | placeholder}
        </div>
      </div>
    </div>
  </div>
  {'CatalogBlock' | chunk: ['title' => 'Продукция завода ЕАБ:']}
  {'WhyBlock' | chunk}
  {'ContactsBlock' | chunk}
{/block}