{extends 'template:Base'}

{block 'Content'}
  {$_modx->getChunk('Filter')}
  <div class="Catalog" id="mse2_mfilter">
    <div class="Catalog__top">
      <div class="Filter">
        <div class="Container">
          {$_modx->getChunk('Crumbs')}
          <form action="{$_modx->resource.uri}" method="post" id="mse2_filters" class="Form Filter__form">
            <div class="Filter__filters">
              {$modx->placeholders.filter_filters}
            </div>
          </form>
          <div class="js_filter_enabled">
            <p class="H H_s4 H_c3 H_m2">Используемые фильтры</p>
          </div>
        </div>
      </div>
    </div>
    <div class="Catalog__middle">
      <div class="Container">
        <h1 class="H H_c1 H_w1 H_s1 H_m2 H_v2">{$_modx->resource.pagetitle}</h1>
        <div class="Catalog__content">
          {$_modx->resource.content}
        </div>
      </div>
    </div>

    <div class="Catalog__bottom">
      <div class="Container">
        <div class="Catalog__items" id="mse2_results" >
          {$modx->placeholders.filter_results}
        </div>
        <div class="mse2_pagination">
          {!$modx->placeholders.page.nav}
        </div>
      </div>
    </div>
  </div>
  {$_modx->getChunk('CatalogBlock')}
  {$_modx->getChunk('WhyBlock')}
  {$_modx->getChunk('ContactsBlock')}
{/block}