{extends 'template:Base'}

{block 'Content'}
<div class="Price">
  {'pdoResources' | snippet: [
    'parents' => 2,
    'resources' => -7,
    'depth' => 0,
    'limit' => 0,
    'where' => ['class_key:=' => 'msCategory'],
    'includeContent' => true,
    'tpl' => '@INLINE {$id}',
    'outputSeparator' => '&',
    'includeTVs' => 'CatalogImage',
    'toPlaceholder' => 'category'
  ]}
  <div class="Container">
    {'Crumbs' | chunk}
    <h1 class="T_bold T_c1 T_w1 T_s9 T_upper">{$_modx->resource.pagetitle}</h1>
  </div>
  <div class="Price__blocks">
    {set $categories = 'category' | placeholder | split:'&'}
    {foreach $categories as $category_id}
      <div class="Container">
        <div class="Price__block">
          <div class="Price__contentWrap">
            <div class="Price__title">
              <h2 class="T_s7 T_bold">{$category_id | resource: 'pagetitle'}</h2>
            </div>
            <div class="Price__image">
              <img src="{$category_id | resource: 'CatalogImage'}" alt="{$category_id | resource: 'pagetitle'}">
            </div>
            <div class="Price__content">
              {$category_id | resource: 'content'}
              <button class="Button Button_v1 Button_m5" data-js="Modal" data-modal="#callback_order">Заказать {$category_id | resource: 'pagetitle' | lower}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="Price__items">
        <div class="Container">
          <div class="Table Table_v1">
            <div class="Table__thead">
              <div class="Table__tr Table__tr_p1">
                <div class="Table__td Table__td_w1">
                  <p class="T_s1 T_bold">Размеры</p>
                </div>
                <div class="Table__td Table__td_w1">
                  <p class="T_s1 T_bold">В поддоне, шт</p>
                </div>
                <div class="Table__td Table__td_w1">
                  <p class="T_s1 T_bold">м<sup>3</sup> в поддоне</p>
                </div>
                <div class="Table__td Table__td_w1">
                  <p class="T_s1 T_bold">Сорт</p>
                </div>
                <div class="Table__td Table__td_w1">
                  <p class="T_s1 T_bold">Цена с НДС, руб</p>
                </div>
              </div>
            </div>
            <div class="Table__tbody">
              {set $catalog_prices = json_decode($category_id | resource: 'CatalogPrice', true)}
              {foreach $catalog_prices as $item}
                <div class="Table__tr Table__tr_v1">
                  <div class="Table__td Table__td_w1">
                    <p class="T_s1">{$item.size}</p>
                  </div>
                  <div class="Table__td Table__td_w1">
                    <p class="T_s1">{$item.count_pallet}</p>
                  </div>
                  <div class="Table__td Table__td_w1">
                    <p class="T_s1">{$item.count_m3}</p>
                  </div>
                  <div class="Table__td Table__td_w1">
                    <p class="T_s1">{$item.sort}</p>
                  </div>
                  <div class="Table__td Table__td_w1">
                    <p class="T_s1">{$item.price} руб./м<sup>3</sup></p>
                    <p class="T_s1 T_c1">{$item.price_2} руб./м<sup>3</sup></p>
                  </div>
                </div>
              {/foreach}
            </div>
          </div>
        </div>
      </div>
    {/foreach}
  </div>
</div>
{'WhyBlock' | chunk}
{'FilterBlock' | chunk}
{'ContactsBlock' | chunk}
{/block}