{extends 'template:Base'}
{import 'Form' as Form}
{import 'Accordion' as Accordion}

{block 'Content'}
  <div class="Sertificate">
    <div class="Container">
      {'Crumbs' | chunk}
    </div>
    <div class="Container">
      <div class="Sertificate__content">
        <h1 class="T_bold T_c1 T_w1 T_s9 T_m3 T_upper">{$_modx->resource.pagetitle}</h1>
        {$_modx->resource.content}
      </div>
      <div class="Sertificate__items">
        {set $sertificates = json_decode($_modx->resource.Sertificates, true)}
        {foreach $sertificates as $item}
          <div class="Sertificate__item">
            <img class="Sertificate__image" src="{$item.image}" alt="">
            <p class="T_s2 T_bold">{$item.title}</p>
          </div>
        {/foreach}
      </div>
      <div class="Sertificate__faq">
        <h2 class="T_bold T_c1 T_w1 T_s9 T_m3 T_upper">ВОПРОС-ОТВЕТ ПО ПРОДУКЦИИ <br> ЕВРОАЭРОБЕТОНА</h2>
        <div class="Accordion" data-js="Accordion">
          {set $faq = json_decode($_modx->resource.FAQ, true)}
          {foreach $faq as $item}
            {Accordion.item opts=[
              'title' => $item.title,
              'text' => $item.text
            ]}
          {/foreach}
        </div>
      </div>
      <div class="Sertificate__callback">
        <h2 class="T_bold T_c1 T_w1 T_s9 T_m3 T_upper">ЗАДАЙТЕ НАМ СВОЙ ВОПРОС</h2>
        <form method="POST" class="Form Sertificate__form" id="Form__{$_opts.type}">
          <div class="Sertificate__form_left">
            {Form.textarea opts=[
              'name' => 'text',
              'wrapper_class' => 'Form__fieldWrap Form__fieldWrap_h1',
              'textarea_class' => 'Form__field_textarea Form__field_h1'
            ]}
          </div>
          <div class="Sertificate__form_right">
            {Form.field opts=[
              'name' => 'email',
              'placeholder' => 'Ваша почта',
              'input_class' => 'Form__field_text'
              'icon' => 'icons/email.svg'
            ]}
            <button type="submit" class="Button Button_v1 Button_m3 Button_w1">Заказать</button>
            {Form.checkbox opts=[
              'label_text' => 'Нажимая на кнопку вы даете согласие на обработку своих персональных данных. <br> Мы гарантируем их безопасность',
              'name' => 'policy'
            ]}
          </div>
        </form>
      </div>
    </div>
  </div>
  {'CatalogBlock' | chunk: ['title' => 'НАЖМИТЕ НА ИНТЕРЕСУЮЩУЮ ВАС КАТЕГОРИЮ']}
  {'ContactsBlock' | chunk}
{/block}