{extends 'template:Base'}

{block 'Content'}
  <div class="Shipping">
    <div class="Container">
      {'Crumbs' | chunk}
    </div>
    <div class="Shipping__content">
      <div class="Container">
        <h1 class="T_bold T_c1 T_w1 T_s9 T_m2 T_upper">Доставка газобетона</h1>
        {$_modx->resource.content}
      </div>
    </div>
    {'ShipPriceBlock' | chunk  : ['class' => 'ShipPriceBlock_bg1']}
    <div class="Shipping__priceText">
      <div class="Container">
        <h2 class="T_bold T_c1 T_w1 T_s9 T_m9 T_upper">Оплата</h2>
        {set $price_text = json_decode($_modx->resource.PriceText, true)}
        {$price_text[0].text_all}
        <p class="T_bold T_m8">Для физических лиц:</p>
        {$price_text[0].text_fiz}
        <p class="T_bold T_m8">Для юридических лиц:</p>
        {$price_text[0].text_ur}
      </div>
    </div>
  </div>
  {'SalesBlock' | chunk}
  {'ContactsBlock' | chunk}
{/block}