<div class="AboutBlock">
  <div class="Container Container_relative">
    <h2 class="T_bold T_c1 T_w1 T_s9 T_center T_m4 T_upper">О производстве</h2>
    <div class="AboutBlock__wrap">
      {set $about_items = json_decode(13 | resource: 'tv.AboutBlock', true)}
      {foreach $about_items as $item}
        <div class="AboutBlock__item">
          <div class="AboutBlock__image">
            <img src="{$item.image}" alt="">
          </div>
          <div class="AboutBlock__text">
            <p class="T_s4 T_bold T_m2">{$item.title}</p>
            <p class="T_s2 T_lh2">{$item.text}</p>
          </div>
        </div>
      {/foreach}
    </div>
    <div class="AboutBlock__link">
      <a class="T_c1 T_s2" href="{13 | resource: 'uri'}">Подробнее о заводе</a>
    </div>
  </div>
</div>