<div class="AboutSlider__wrap">
  <div class="Container">
    <div class="AboutSlider">
      {if $title}
        <h2 class="{$title_class}">{$title}</h2>
      {/if}
      <div class="AboutSlider__slider" data-js="Slider">
        {set $about_items = json_decode(13 | resource: 'tv.AboutSlider', true)}
        {foreach $about_items as $item}
          <img src="{$item.image}" alt="">
        {/foreach}
      </div>
      <div class="AboutSlider__navWrap">
        <button class="Button_clear Slider__button Slider__button_prev AboutSlider__nav AboutSlider__nav_prev">
          {'IncSvg' | snippet: ['file' => 'icons/prev.svg']}
        </button>
        <button class="Button_clear Slider__button Slider__button_next AboutSlider__nav AboutSlider__nav_next">
          {'IncSvg' | snippet: ['file' => 'icons/next.svg']}
        </button>
      </div>
    </div>
  </div>
</div>