<div class="CatalogBlock">
  <div class="Container">
    <h2 class="H H_c1 H_w1 H_s1 H_v1 H_m1 H_v2">Продукция завода ЕАБ:</h2>
    {$_modx->runSnippet('pdoMenu@PropertySet', [
      'parents' => 2,
      'resources' => -7,
      'where' => [
        'template:NOT IN' => [6],
      ],
      'outerClass' => 'CatalogBlock__menu',
      'rowClass' => 'CatalogBlock__item',
      'hereClass' => 'CatalogBlock__item_active',
      'tpl' => '@INLINE
        <li [[+classes]]>
          <a class="CatalogBlock__link" href="[[+link]]">
            [[+attributes:notempty=`<img class="CatalogBlock__link_img" src="[[+attributes]]"/>`]]
            <span class="CatalogBlock__link_text A_c3 A_s3 A_v1 A_v2">[[+menutitle]]</span>
          </a>
        </li>',
    ])}
  </div>
</div>