<div class="CatalogBlock">
  <div class="Container">
    <h2 class="T_bold T_c1 T_w1 T_s9 T_center T_m4 T_upper">{$title}</h2>
    {'pdoMenu' | snippet: [
      'parents' => 2,
      'resources' => -7,
      'where' => [
        'template:NOT IN' => [6],
      ],
      'outerClass' => 'CatalogBlock__menu',
      'rowClass' => 'CatalogBlock__item',
      'hereClass' => 'CatalogBlock__item_active',
      'tpl' => '@INLINE
        <li [[+classes]]>
          <a class="CatalogBlock__link" href="[[+link]]">
            [[+attributes:notempty=`<img class="CatalogBlock__link_img" src="[[+attributes]]"/>`]]
            <span class="CatalogBlock__link_text T_c3 T_s2 T_upper T_bold">[[+menutitle]]</span>
          </a>
        </li>',
    ]}
  </div>
</div>