<div class="ContactsBlock">
  <div class="Container">
    <div class="ContactsBlock__wrap">
      <h2 class="H H_c1 H_w1 H_s1 H_v1 H_m1">Контакты</h2>
      <div class="ContactsBlock__map">
        <div class="js_Map" id="Map_contact" data-address="Россия, Санкт-Петербург, улица Комсомола, 1"></div>
      </div>
      <div class="ContactsBlock__text">
        <p>Офис для заказа газобетона в Санкт-Петербурге:</p>
        <p><strong>Телефоны:</strong> 8 (812) 984-57-39</p>
        <p>8 (812) 944-31-57</p>
        <p>8 (812) 458-43-02</p>
        <p><strong>E-mail:</strong> info@gazobetonvspb.ru</p>
        <p><strong>Рабочие часы:</strong> ПН-ПТ 9:00-19:00</p>
        <p><strong>Адрес:</strong> г. Санкт-Петербург, ул. Комсомола, 1-3, оф. 216</p>
        <p><strong>Адрес:</strong> Ленинградская область, г. Сланцы, Сланцевское шоссе, д. 30</p>
        <p><strong>Время работы:</strong></p>
        <p>Пн. - Пт.: c 8:00 до 17:00</p>
        <p>Сб. - Вс.: выходные дни</p>
      </div>
    </div>
  </div>
</div>



