<div class="ContactsBlock">
  <div class="Container">
    <div class="ContactsBlock__wrap">
      <h2 class="H H_c1 H_w1 H_s1 H_v1 H_m1 H_v2">Контакты</h2>
      <div class="ContactsBlock__text">
        <p class="P_s2 P_v2 P_m3">Офис для заказа газобетона в Санкт-Петербурге</p>
        <p class="P_s1 P_m4">Адрес: {1 | resource: 'SiteAddress'}</p>
        <p class="P_s2 P_c1 P_v2 P_m4">{1 | resource: 'SitePhone'}</p>
        <p class="P_s2 P_c1 P_v2">E-mail: {1 | resource: 'SiteEmail'}</p>
        <p class="P_s2 P_c1 P_v2 P_m4">Рабочие часы: ПН-ПТ 9:00-19:00</p>
        <p class="P_s2 P_v2 P_m3">Производство и огрузка</p>
        <p class="P_s1 P_m4">Адрес: {1 | resource: 'SiteAddress2'}</p>
        <p class="P_s2 P_c1 P_v2">Время работы:</p>
        <p class="P_s2 P_c1 P_v2">Пн. - Пт.: c 8:00 до 17:00</p>
        <p class="P_s2 P_c1 P_v2">Сб. - Вс.: выходные дни</p>
      </div>
      <div class="ContactsBlock__map">
        <div class="js_Map" id="Map_contact" data-address="Россия, Санкт-Петербург, улица Комсомола, 1"></div>
      </div>
    </div>
  </div>
</div>



