<div class="ContactsBlock">
  <div class="Container">
    <div class="ContactsBlock__wrap">
      <h2 class="T_bold T_c1 T_w1 T_s9 T_center T_m4 T_upper">Контакты</h2>
      <div class="ContactsBlock__text">
        <p class="T_s2 T_bold T_m1">Офис для заказа газобетона в Санкт-Петербурге</p>
        <p class="T_s1 T_m3">Адрес: {1 | resource: 'SiteAddress'}</p>
        <p class="T_s2 T_c1 T_bold T_m3">{1 | resource: 'SitePhone'}</p>
        <p class="T_s2 T_c1 T_bold">E-mail: {1 | resource: 'SiteEmail'}</p>
        <p class="T_s2 T_c1 T_bold T_m3">Рабочие часы: ПН-ПТ 9:00-19:00</p>
        <p class="T_s2 T_bold T_m1">Производство и отгрузка</p>
        <p class="T_s1 T_m3">Адрес: {1 | resource: 'SiteAddress2'}</p>
        <p class="T_s2 T_c1 T_bold">Время работы:</p>
        <p class="T_s2 T_c1 T_bold">Пн. - Пт.: c 8:00 до 17:00</p>
        <p class="T_s2 T_c1 T_bold">Сб. - Вс.: выходные дни</p>
      </div>
      <div class="ContactsBlock__map">
        <div data-js="Map" id="Map_contact" data-address="{1 | resource: 'SiteAddress'}"></div>
      </div>
    </div>
  </div>
</div>



