{$_modx->runSnippet('mFilter2@PropertySet', [
  'parents' => $_modx->resource.id,
  'element' => 'msProducts',
  'limit' => 10,
  'idx' => 1,
  'includeTVs' => 'HitsPage',
  'toPlaceholders' => 'filter_',
  'sortby' => 'msCategory.menuindex ASC, msProduct.menuindex',
  'tplPageWrapper' => '@INLINE <div class="pagination"><ul>[[+prev]][[+pages]][[+next]]</ul></div>',
  'tplPageFirst' => '@INLINE <li class="control prev first"><a class="js_no_preload" href="[[+href]]">Первая</a></li>',
  'tplPageLast' => '@INLINE <li class="control next last"><a  class="js_no_preload" href="[[+href]]">Последняя</a></li>',
  'tplPage' => '@INLINE <li><a  class="js_no_preload" href="[[+href]]">[[+pageNo]]</a></li>',
  'tplPageActive' => '@INLINE <li class="active"><a  class="js_no_preload" href="[[+href]]">[[+pageNo]]</a>',
  'tplPagePrev' => '@INLINE <li class="control prev"><a class="js_no_preload" href="[[+href]]">[[IncSvg? &file=`icons/arrow.svg`]]</a></li>',
  'tplPageNext' => '@INLINE <li class="control next"><a  class="js_no_preload" href="[[+href]]">[[IncSvg? &file=`icons/arrow.svg`]]</a></li>',
  'tplPageNextEmpty' => '@INLINE ',
  'tplPagePrevEmpty' => '@INLINE ',
  'tplPageFirstEmpty' => '@INLINE ',
  'leftJoin' => [
    'msCategory' => [
      'class' => 'msCategory',
      'alias' => 'msCategory',
      'on' => 'msProduct.parent = msCategory.id',
    ],
  ],
  'filters' => '
    ms|price:number,
    resource|parent:categories
  ',
  'aliases' => '
    resource|parent==parent,
    ms|price==price
  ',
  'tplFilter.outer.price' => 'mFilterSlider',
  'tplFilter.row.price' => 'mFilterNumber',
  'tplFilter.outer.parent' => 'mFilterCheckboxOut',
  'tplFilter.row.parent' => 'mFilterCheckbox',
])}






[[!mFilter2?
&parents =`[[+id:empty=`[[*id]]`:default=[[+id]]]]`
&element =`msProducts`
&limit = `10`
&idx = `1`
&includeTVs = `HitsPage, ProductCatalogNotification, UnitPrice, VisiblePrice, ProductSales`
&toPlaceholders = `filter_`
&tpls = `ItemLayout_0, ItemLayout_1, ItemLayout_2`
&leftJoin=`{
"msCategory": {
"class": "msCategory",
"alias":"msCategory",
"on": "msProduct.parent = msCategory.id"
}
}`
&sortby = `msCategory.menuindex ASC, msProduct.menuindex`


&filters=`
msoption|opt_view,
msoption|opt_type,
msoption|opt_vendor,
msoption|opt_assigned,
msoption|opt_type_work,
msoption|opt_nanesenie,
msoption|opt_temp_nanes_smesi,
msoption|opt_surface,
msoption|opt_type_block,
msoption|opt_forma,
msoption|opt_seria,
msoption|opt_oblast_primen,
msoption|opt_hollow,
msoption|opt_color,
msoption|opt_okras_product,
msoption|opt_format,
msoption|opt_radius,
msoption|opt_density_brand,
msoption|opt_width_wall_mm,
msoption|opt_type_size,
msoption|opt_nesush_sposob_kg_m2,
msoption|opt_thickness,
msoption|opt_size_mm,
msoption|opt_size,
msoption|opt_diametr_mm,
msoption|opt_length_m,
msoption|opt_class,
msoption|opt_length_flex_link_mm,
msoption|opt_fraction_mm,
msoption|opt_min_brand_compress_strength,
msoption|opt_strength_compress_class,
msoption|opt_grade_frost,
msoption|opt_min_fireproof,
ms|price:number,
resource|parent:categories
`

&aliases=`
msoption|opt_view==view,
msoption|opt_type==type,
msoption|opt_vendor==vendor,
msoption|opt_assigned==assigned,
msoption|opt_type_work==type_work,
msoption|opt_nanesenie==nanesenie,
msoption|opt_temp_nanes_smesi==temp_nanes_smesi,
msoption|opt_surface==surface,
msoption|opt_type_block==type_block,
msoption|opt_forma==forma,
msoption|opt_seria==seria,
msoption|opt_oblast_primen==oblast_primen,
msoption|opt_hollow==hollow,
msoption|opt_color==color,
msoption|opt_okras_product==okras_product,
msoption|opt_format==format,
msoption|opt_radius==radius,
msoption|opt_density_brand==density_brand,
msoption|opt_width_wall_mm==width_wall_mm,
msoption|opt_type_size==type_size,
msoption|opt_nesush_sposob_kg_m2==nesush_sposob_kg_m2,
msoption|opt_thickness==thickness,
msoption|opt_size_mm==size_mm,
msoption|opt_size==size,
msoption|opt_diametr_mm==diametr_mm,
msoption|opt_length_m==length_m,
msoption|opt_class==class,
msoption|opt_length_flex_link_mm==length_flex_link_mm,
msoption|opt_fraction_mm==fraction_mm,
msoption|opt_min_brand_compress_strength==min_brand_compress_strength,
msoption|opt_strength_compress_class==strength_compress_class,
msoption|opt_grade_frost==grade_frost,
msoption|opt_min_fireproof==min_fireproof,
resource|parent==parent,
ms|price==price
`

&tplFilter.outer.price=`mFilterSlider`
&tplFilter.row.price=`mFilterNumber`

&tplFilter.outer.parent=`mFilterCheckboxOut`
&tplFilter.row.parent=`mFilterCheckbox`

&tplFilter.outer.view=`mFilterCheckboxOut`
&tplFilter.row.view=`mFilterCheckbox`

&tplFilter.outer.type=`mFilterCheckboxOut`
&tplFilter.row.type=`mFilterCheckbox`

&tplFilter.outer.vendor=`mFilterCheckboxOut`
&tplFilter.row.vendor=`mFilterCheckbox`

&tplFilter.outer.assigned=`mFilterCheckboxOut`
&tplFilter.row.assigned=`mFilterCheckbox`

&tplFilter.outer.type_work=`mFilterCheckboxOut`
&tplFilter.row.type_work=`mFilterCheckbox`

&tplFilter.outer.nanesenie=`mFilterCheckboxOut`
&tplFilter.row.nanesenie=`mFilterCheckbox`

&tplFilter.outer.temp_nanes_smesi=`mFilterCheckboxOut`
&tplFilter.row.temp_nanes_smesi=`mFilterCheckbox`

&tplFilter.outer.surface=`mFilterCheckboxOut`
&tplFilter.row.surface=`mFilterCheckbox`

&tplFilter.outer.type_block=`mFilterCheckboxOut`
&tplFilter.row.type_block=`mFilterCheckbox`

&tplFilter.outer.forma=`mFilterCheckboxOut`
&tplFilter.row.forma=`mFilterCheckbox`

&tplFilter.outer.seria=`mFilterCheckboxOut`
&tplFilter.row.seria=`mFilterCheckbox`

&tplFilter.outer.oblast_primen=`mFilterCheckboxOut`
&tplFilter.row.oblast_primen=`mFilterCheckbox`

&tplFilter.outer.hollow=`mFilterCheckboxOut`
&tplFilter.row.hollow=`mFilterCheckbox`

&tplFilter.outer.color=`mFilterCheckboxOut`
&tplFilter.row.color=`mFilterCheckbox`

&tplFilter.outer.okras_product=`mFilterCheckboxOut`
&tplFilter.row.okras_product=`mFilterCheckbox`

&tplFilter.outer.format=`mFilterCheckboxOut`
&tplFilter.row.format=`mFilterCheckbox`

&tplFilter.outer.radius=`mFilterCheckboxOut`
&tplFilter.row.radius=`mFilterCheckbox`

&tplFilter.outer.density_brand=`mFilterCheckboxOut`
&tplFilter.row.density_brand=`mFilterCheckbox`

&tplFilter.outer.width_wall_mm=`mFilterCheckboxOut`
&tplFilter.row.width_wall_mm=`mFilterCheckbox`

&tplFilter.outer.type_size=`mFilterCheckboxOut`
&tplFilter.row.type_size=`mFilterCheckbox`

&tplFilter.outer.nesush_sposob_kg_m2=`mFilterCheckboxOut`
&tplFilter.row.nesush_sposob_kg_m2=`mFilterCheckbox`

&tplFilter.outer.thickness=`mFilterCheckboxOut`
&tplFilter.row.thickness=`mFilterCheckbox`

&tplFilter.outer.size_mm=`mFilterCheckboxOut`
&tplFilter.row.size_mm=`mFilterCheckbox`

&tplFilter.outer.size=`mFilterCheckboxOut`
&tplFilter.row.size=`mFilterCheckbox`

&tplFilter.outer.diametr_mm=`mFilterCheckboxOut`
&tplFilter.row.diametr_mm=`mFilterCheckbox`

&tplFilter.outer.length_m=`mFilterCheckboxOut`
&tplFilter.row.length_m=`mFilterCheckbox`

&tplFilter.outer.class=`mFilterCheckboxOut`
&tplFilter.row.class=`mFilterCheckbox`

&tplFilter.outer.length_flex_link_mm=`mFilterCheckboxOut`
&tplFilter.row.length_flex_link_mm=`mFilterCheckbox`

&tplFilter.outer.fraction_mm=`mFilterCheckboxOut`
&tplFilter.row.fraction_mm=`mFilterCheckbox`

&tplFilter.outer.min_brand_compress_strength=`mFilterCheckboxOut`
&tplFilter.row.min_brand_compress_strength=`mFilterCheckbox`

&tplFilter.outer.strength_compress_class=`mFilterCheckboxOut`
&tplFilter.row.strength_compress_class=`mFilterCheckbox`

&tplFilter.outer.grade_frost=`mFilterCheckboxOut`
&tplFilter.row.grade_frost=`mFilterCheckbox`

&tplFilter.outer.min_fireproof=`mFilterCheckboxOut`
&tplFilter.row.min_fireproof=`mFilterCheckbox`


&tplPageWrapper = `@INLINE <div class="pagination"><ul>[[+prev]][[+pages]][[+next]]</ul></div>`
&tplPageFirst = `@INLINE <li class="control prev first"><a class="js_no_preload" href="[[+href]]">Первая</a></li>`
&tplPageLast = `@INLINE <li class="control next last"><a  class="js_no_preload" href="[[+href]]">Последняя</a></li>`
&tplPage = `@INLINE <li><a  class="js_no_preload" href="[[+href]]">[[+pageNo]]</a></li>`
&tplPageActive = `@INLINE <li class="active"><a  class="js_no_preload" href="[[+href]]">[[+pageNo]]</a></li>`
&tplPagePrev = `@INLINE <li class="control prev"><a class="js_no_preload" href="[[+href]]">[[IncSvg? &file=`icons/arrow.svg`]]</a></li>`
&tplPageNext = `@INLINE <li class="control next"><a  class="js_no_preload" href="[[+href]]">[[IncSvg? &file=`icons/arrow.svg`]]</a></li>`
&tplPageNextEmpty = `@INLINE `
&tplPagePrevEmpty = `@INLINE `
&tplPageFirstEmpty = `@INLINE `
]]