<footer class="Footer">
  <div class="Container">
    <div class="Footer__topWrap">
      <div class="Footer__logo">
        <a href="/"><img src="/assets/template/images/logo_white.png" alt=""></a>
      </div>
      <div class="Footer__copyright">
        <p class="T_s0 T_c4 T_lh3 T_inline">© 2019 все права защищены. Данные, <br> опубликованные на этом сайте не являются <br> публичной офертой.</p>
        <a class="T__A T_s0 T_c4 T_underline" href="{1 | resource: 'uri'}">Пользовательское соглашение</a>
      </div>
      <div class="Footer__contacts">
        <div class="Footer__phone">
          {'IncSvg' | snippet: ['file' => 'icons/phone.svg']}
          {1 | resource: 'SitePhone'}
        </div>
        <div class="Footer__address">
          <p class="T_s1 T_c2">{1 | resource: 'SiteAddress'}</p>
        </div>
      </div>
    </div>
    <div class="Footer__bottomWrap">
      <p class="T_s2 T_c4 T_m3 T_w1">Продукция</p>
      <div class="Footer__menu">
        {'pdoMenu' | snippet: [
          'parents' => 2,
          'level' => 1,
          'where' => [
            'template:NOT IN' => [6],
          ],
          'outerClass' => 'Menu',
          'rowClass' => 'Menu__item',
          'hereClass' => 'Menu__item_active',
          'tpl' => '@INLINE <li {$classes}><a class="T_c2 T_s1 T_m2 T_block" {$link_attributes} href="{$link}"> {$menutitle}</a></li>',
        ]}
      </div>
      <div class="Footer__menu">
        {'pdoMenu' | snippet: [
          'parents' => 0,
          'resources' => -2
          'level' => 1,
          'where' => [
            'template:NOT IN' => [6],
          ],
          'outerClass' => 'Menu',
          'rowClass' => 'Menu__item',
          'hereClass' => 'Menu__item_active',
          'tpl' => '@INLINE <li {$classes}><a class="T_c2 T_s1 T_m2 T_block" {$link_attributes} href="{$link}"> {$menutitle}</a></li>',
        ]}
      </div>
    </div>
  </div>
</footer>

