<div class="PriceBlock">
  <div class="Container">
    <div class="PriceBlock__wrap">
      <h2 class="T_bold T_c1 T_w1 T_s9 T_center T_m4 T_upper">Стоимость газобетона</h2>
      <div class="PriceBlock__item">
        <p class="T_bold T_s7 T_c2 T_m3">2-й сорт</p>
        <p class="T_s2 T_c2">некондиция</p>
        <p class="T_s1 T_c3">есть сколы</p>
        <p class="T_s3 T_c4 T_m5 T_bold">2900 руб./м<sup>3</sup></p>
      </div>
      <div class="PriceBlock__item">
        <p class="T_bold T_s7 T_c2 T_m3">1-й сорт</p>
        <p class="T_s2 T_c2">некондиция</p>
        <p class="T_s1 T_c3">небольшие повреждения</p>
        <p class="T_s3 T_c4 T_m5 T_bold">3100 руб./м<sup>3</sup></p>
      </div>
      <div class="PriceBlock__item">
        <p class="T_bold T_s7 T_c2 T_m3">Высший сорт</p>
        <p class="T_s2 T_c2 T_lh3">D400, D500</p>
        <p class="T_s3 T_c1 T_m5 T_bold">3600 руб./м<sup>3</sup></p>
      </div>
      <div class="PriceBlock__item">
        <p class="T_bold T_s7 T_c2 T_m3">Высший сорт</p>
        <p class="T_s2 T_c2 T_lh3">D600</p>
        <p class="T_s3 T_c1 T_m5 T_bold">3900 руб./м<sup>3</sup></p>
      </div>
    </div>
  </div>
</div>

