<div class="PriceBlock">
  <div class="Container">
    <div class="PriceBlock__wrap">
      <h2 class="H H_c1 H_w1 H_s1 H_v1 H_m1">Стоимость газобетона</h2>
      <div class="PriceBlock__item">
        <p class="PriceBlock__title P_c3 P_s1 P_p1 P_w1 P_b1">2-й сорт (некондиция)</p>
        <p class="P_c4 P_s1 P_p1 P_w1">есть сколы</p>
        <p class="P_c2 P_s1 P_p1 P_w1"><strong>2900 руб./м<sup>3</sup></strong></p>
      </div>
      <div class="PriceBlock__item">
        <p class="PriceBlock__title P_c3 P_s1 P_p1 P_w1 P_b1">1-й сорт (некондиция)</p>
        <p class="P_c4 P_s1 P_p1 P_w1">небольшие повреждения</p>
        <p class="P_c2 P_s1 P_p1 P_w1"><strong>3100 руб./м<sup>3</sup></strong></p>
      </div>
      <div class="PriceBlock__item">
        <p class="PriceBlock__title P_c3 P_s1 P_p1 P_w1 P_b1">Высший сорт</p>
        <p class="P_c4 P_s1 P_p1 P_w1">D400, D500</p>
        <p class="P_c2 P_s1 P_p1 P_w1"><strong>3570 руб./м<sup>3</sup></strong></p>
      </div>
      <div class="PriceBlock__item">
        <p class="PriceBlock__title P_c3 P_s1 P_p1 P_w1 P_b1">Высший сорт</p>
        <p class="P_c4 P_s1 P_p1 P_w1">D600</p>
        <p class="P_c2 P_s1 P_p1 P_w1"><strong>3750 руб./м<sup>3</sup></strong></p>
      </div>
    </div>
  </div>
</div>

