{set $sales_data = json_decode(1 | resource: 'SalesBlock', true)}
<div class="SalesBlock {$class}">
  <div class="Container">
    <div class="SalesBlock__wrap">
      <div class="SalesBlock__image">
        <img class="SalesBlock__img" src="/assets/template/images/sales_block/sales_img.png" alt="">
      </div>
      <div class="SalesBlock__text">
        <div class="SalesBlock__notifies">
          <p class="T_s1 SalesBlock__notify"><span class="SalesBlock__notify_revert">{$sales_data[0].title}</span></p>
          <p class="T_s1">{$sales_data[0].date}</p>
        </div>
        <p class="T_s4 T_m7 T_lh1">{$sales_data[0].text}</p>
        <p class="T_s1">{$sales_data[0].text_2}</p>
        {1 | resource: 'SitePhone'}
      </div>
    </div>
  </div>
</div>