<div class="SalesBlock">
  <div class="Container">
    <div class="SalesBlock__wrap">
      <div class="SalesBlock__image">
        <img class="SalesBlock__img" src="/assets/template/images/sales_block/sales_img.png" alt="">
      </div>
      <div class="SalesBlock__text">
        <div class="SalesBlock__notifies">
          <p class="T_s1 SalesBlock__notify"><span class="SalesBlock__notify_revert">Акция</span></p>
          <p class="T_s1">до 30 сентября 2019 г.</p>
        </div>
        <p class="T_s4 T_m7">При заказе газобетонных <br> блоков ЕАБ от 100 м<sup>3</sup> вы <br> получаете клей для <br> газобетона в подарок!</p>
        <p class="T_s1">Уточняйте условия акции у менеджеров по телефону</p>
        [[#1.SitePhone]]
      </div>
    </div>
  </div>
</div>