<div class="SalesBlock">
  <div class="Container">
    <div class="SalesBlock__wrap">
      <div class="SalesBlock__image">
        <img class="SalesBlock__img" src="/assets/template/images/sales_block/sales_img.png" alt="">
      </div>
      <div class="SalesBlock__text">
        <div class="SalesBlock__notify">
          <p>Акция</p>
          <p>до 30 сентября 2019 г.</p>
        </div>
        <p class="P_s1">При заказе газобетонных блоков ЕАБ от 100 м<sup>3</sup> клей для газобетона в подарок!</p>
        <p class="P_s2">Уточняйте условия акции у менеджеров по телефону</p>
        [[#1.SitePhone]]
      </div>
    </div>
  </div>
</div>