{import 'Callback' as Callback}

<div class="ShipPriceBlock {$class}">
  <div class="Container">
    <h2 class="T_bold T_c1 T_w1 T_s9 T_center T_m4 T_upper">Расчет доставки</h2>
    <div class="ShipPriceBlock__wrap">
      <div class="ShipPriceBlock__cols">
        <p class="T_s1 T_c1 T_m4">Доставка осуществляется следующими машинами</p>
        {set $shippirce_items = json_decode(11 | resource: 'ShipPriceBlock', true)}
        {foreach $shippirce_items as $item}
          <div class="ShipPriceBlock__item">
            <div class="ShipPriceBlock__text">
              <p class="T_s2 T_bold T_m2">{$item.title}</p>
              <p class="T_s1 T_lh2">Вместимость:</p>
              <p class="T_s1 T_lh2">{$item.text_1}</p>
              <p class="T_s1 T_lh2">{$item.text_2}</p>
            </div>
            <div class="ShipPriceBlock__images">
              <img class="ShipPriceBlock__img" src="{$item.image}" alt="">
            </div>
          </div>
        {/foreach}
      </div>
      <div class="ShipPriceBlock__cols">
        {Callback.block opts=[
          'type' => 'ShipPrice'
          'text_button' => 'Рассчитать стоимость с доставкой',
          'button_class' => 'Button Button_v1 Button_m3 Button_s1',
          'theme' => 'Заявка на звонок',
          'fields' => [
            'address' => [
              'visible' => 1,
              'label' => 'Напишите адрес доставки:'
            ],
            'count' => [
              'visible' => 1,
              'label' => 'Укажите необходимое количество или объем газобетона'
            ],
            'phone' => [
              'visible' => 1,
              'label' => 'Введите ваш телефон для отправки расчета стоимости доставки'
            ],
            'policy' => [
              'visible' => 1,
              'id' => 'field_policy_shipping'
              'label_text' => 'Нажимая на кнопку вы даете <a class="T_underline Inherit" href="' ~ $_modx->makeUrl(105) ~ '">согласие на обработку своих персональных данных</a>. Мы гарантируем их безопасность'
            ],
          ]
        ]}
      </div>
    </div>
  </div>
</div>