<div class="TopBlock">
  <div class="Container">
    <div class="TopBlock__wrap">
      <div class="TopBlock__text">
        <p class="H H_s1 H_c1 H_v2">Газобетон ЕАБ <br> от производителя <br> в Санкт-Петербурге и ЛО</p>
        <p class="H H_s1 H_c2">от 3570 руб./м<sup>3</sup></p>
        <p class="P_s1 P_c1 P_v1 P_m1">Быстрая доставка со склада <br> оплата на месте разгрузки</p>
        <a href="#" class="Button Button_v1 Button_m1">Заказать рассчет</a>
        <a href="#" class="Button Button_v2">Заказать звонок</a>
      </div>
      <div class="TopBlock__images">
        <img src="/assets/template/images/top_block/img_1.jpg" class="TopBlock__image" alt="">
        <img src="/assets/template/images/top_block/img_2.jpg" class="TopBlock__image" alt="">
      </div>
    </div>
  </div>
</div>