<div class="WhyBlock">
  <div class="Container WhyBlock__title">
    <h2 class="H H_c1 H_w1 H_s1 H_v1 H_m1">Почему выбирают газобетон ЕАБ</h2>
  </div>
  <div class="Container">
    <div class="WhyBlock__wrap">
      <div class="WhyBlock__block">
        <div class="WhyBlock__img">
          <img src="/assets/template/images/icons/stars.png" alt="">
        </div>
        <div class="WhyBlock__text">
          <h3 class="H H_s3 H_c3 H_v1 H_m2">Стабильное <br> качество</h3>
          <p class="P_s2">В производстве используется современное автоматизированное оборудование. При заказе блоков вы можете быть уверены в стабильно высоком качестве продукции ЕвроАэроБетона</p>
        </div>
      </div>
      <div class="WhyBlock__block">
        <div class="WhyBlock__img">
          <img src="/assets/template/images/icons/time.png" alt="">
        </div>
        <div class="WhyBlock__text">
          <h3 class="H H_s3 H_c3 H_v1 H_m2">Долговечность <br> более 100 лет</h3>
          <p class="P_s2">Газобетонный блок ЕАБ очень устойчив к перепадам температуры, и к тому же он еще отличается долговечностью эксплуатации. Он способен выдержать более 100 циклов заморозки-оттаивания</p>
        </div>
      </div>
      <div class="WhyBlock__block">
        <div class="WhyBlock__img">
          <img src="/assets/template/images/icons/ecology.png" alt="">
        </div>
        <div class="WhyBlock__text">
          <h3 class="H H_s3 H_c3 H_v1 H_m2">Безопасен <br> для здоровья</h3>
          <p class="P_s2">Газобетон ЕАБ изготавливается из натуральных материалов, таких как известь, вода и песок, потому он не влияет на здоровье человека в отличие от материалов, изготовленных из синтетических веществ</p>
        </div>
      </div>
      <div class="WhyBlock__block">
        <div class="WhyBlock__img">
          <img src="/assets/template/images/icons/accuracy.png" alt="">
        </div>
        <div class="WhyBlock__text">
          <h3 class="H H_s3 H_c3 H_v1 H_m2">Высокая <br> точность</h3>
          <p class="P_s2">Блоки нарезаются с точностью до миллиметров. Ровная геометрия позволяет оптимизировать расходы на строительство и снизить затраты на отопление дома в зимний период, за счет уменьшения мостиков холода</p>
        </div>
      </div>
    </div>
  </div>
</div>