<div class="WhyBlock">
  <div class="Container Container_relative">
    <h2 class="T_bold T_c2 T_w1 T_s9 T_center T_m4 T_upper">О газобетон ЕАБ</h2>
    <div class="WhyBlock__wrap" data-js="Slider">
      {set $why_items = json_decode(13 | resource : 'tv.WhyBlock', true)}
      {foreach $why_items as $item}
        <div class="WhyBlock__block">
          <div class="WhyBlock__images">
            <img class="WhyBlock__img" src="{$item.image}" alt="">
          </div>
          <div class="WhyBlock__text">
            <h3 class="T_bold T_s6 T_c2 T_center T_m3">{$item.title}</h3>
            <p class="T_s2 T_c2 T_center T_lh3">{$item.text}</p>
          </div>
        </div>
      {/foreach}
    </div>
    <div class="WhyBlock__nav">

      <button class="Button_clear Slider__button Slider__button_prev">{'IncSvg' | snippet: ['file' => 'icons/prev.svg']}</button>
      <button class="Button_clear Slider__button Slider__button_next">{'IncSvg' | snippet: ['file' => 'icons/next.svg']}</button>
    </div>
  </div>
</div>