<div class="WhyBlock">
  <div class="Container Container_relative">
    <h2 class="H H_c4 H_w1 H_s1 H_v1 H_m1 H_v2">О газобетон ЕАБ</h2>
    <div class="WhyBlock__wrap js_Slider">
      {set $why_items = json_decode(13 | resource : 'tv.WhyBlock', true)}
      {foreach $why_items as $item}
        <div class="WhyBlock__block">
          <div class="WhyBlock__images">
            <img class="WhyBlock__img" src="{$item.image}" alt="">
          </div>
          <div class="WhyBlock__text">
            <h3 class="H H_s4 H_c4 H_v1 H_m2 H_v1">{$item.title}</h3>
            <p class="P_s2 P_c2 P_v6 P_v3">{$item.text}</p>
          </div>
        </div>
      {/foreach}
    </div>
    <div class="WhyBlock__nav">
      <button class="Button_clear Slider__button Slider__button_prev">{$_modx->runSnippet('IncSvg@PropertySet', ['file' => 'icons/prev.svg',])}</button>
      <button class="Button_clear Slider__button Slider__button_next">{$_modx->runSnippet('IncSvg@PropertySet', ['file' => 'icons/next.svg',])}</button>
    </div>
  </div>
</div>