<div class="SalesBlock">
  <div class="Container">
    <div class="SalesBlock__wrap">
      <p class="P_s1 P_c2 P_v1">При заказе газобетонных <br> блоков ЕАБ </p>
      <p class="H_s2 P_c1 P_m2"><strong>от 100 м<sup>3</sup></strong></p>
      <p class="P_s1 P_c2 P_v1 P_m2">клей для газобетона <br> в подарок!</p>
      <p class="P_s2 P_c3 P_v1 P_p1 P_b1">Уточняйте условия акции у менеджеров <br> <strong>по телефону [[#1.SitePhone]]</strong></p>
      <img class="SalesBlock__img" src="/assets/template/images/sales_block/sales_img.png" alt="">
    </div>
  </div>
</div>