<div class="TopBlock">
  <div class="Container">
    <div class="TopBlock__wrap">
      <div class="TopBlock__text">
        <p class="H H_s1 H_c1">Газобетон ЕАБ от производителя в Санкт-Петербурге и ЛО</p>
        <p class="H H_s1 H_c2">от 3570 руб./м3</p>
        <p class="H_s4 H_c1 H_v1">быстрая доставка со склада оплата на месте разгрузки</p>
        <a href="#">ЗАКАЗАТЬ РАССЧЕТ</a>
        <a href="#">ЗАКАЗАТЬ Звонок</a>
      </div>
      <div class="TopBlock__images">
        <img src="/assets/template/images/top_block/img_1.jpg" class="TopBlock__image" alt="">
        <img src="/assets/template/images/top_block/img_2.jpg" class="TopBlock__image" alt="">
      </div>
    </div>
  </div>
</div>