//-------------------------------------------------------------------------//
// Contacts Block //
//-------------------------------------------------------------------------//

.ContactsBlock {
  margin: 40px 0 50px;
  padding: 50px 0;

  @media @sm_m {
    margin: 15px 0;
    padding: 15px 0;
  }

  &__wrap {
    .flex();
  }

  &__text {
    .flex_cols(4);
    font-size: @s_text_0;

    @media @lg {
      .flex_cols(6.5);
    }
    @media @md_m {
      .flex_cols(8);
    }
    @media @xs {
      .flex_cols(16);
      margin: 0 0 10px;
    }
  }

  &__map {
    .flex_cols(11);

    @media @lg {
      .flex_cols(9);
    }
    @media @md_m {
      .flex_cols(7.5);
    }
    @media @xs {
      .flex_cols(16);
    }

    #Map_contact {
      box-shadow: 15px 15px 0 0 @c_blue;
      border-radius: @radius_2;
      height: 420px;
      overflow: hidden;
      background: url('/assets/template/images/contact_block/map_bg.png');
      background-repeat: no-repeat;
      background-size: cover;

      @media @md_m {
        height: 300px;
      }
      @media @sm_m {
        box-shadow: 10px 8px 0 0 @c_blue;
        border-radius: @radius_3;
        height: 200px;
      }
    }
  }
}