//-------------------------------------------------------------------------//
// Contacts Block //
//-------------------------------------------------------------------------//
.ContactsBlock {
  margin: 100px 0;

  &__wrap {
    .flex();
  }

  &__map {
    .flex_cols(7.5);
    border-left: 15px solid @c_main;

    #Map_contact {
      height: 655px;
    }
  }

  &__text {
    .flex_cols(7.5);
    font-size: @s_text_0;
  }
}