//-------------------------------------------------------------------------//
// Filter //
//-------------------------------------------------------------------------//
.Filter {

  &__form {
    .flex();
  }

  &__filters {
    .flex(@j:flex-start);
    flex: 1;
  }

  &__buttons {
    .flex_cols(6);
    padding: 0 0 0 15px;
  }

  &__fieldset {
    margin: 5px 5px 5px 0;

    &_price {
      .flex_cols(10);
      margin: 5px 0;

      .price {
        .flex(@j:center);

        & > input {
          background: @c_white;
          font-size: @s_text_0;
          border-radius: @radius_3;
          border: 1px solid @c_gray;
          display: block;
          cursor: pointer;
          white-space: nowrap;
          padding: 5px 10px;
          margin: 0 10px;
        }

        .title {
          margin: 0 20px 0 0;
        }

        .mse2_number_slider {
          flex: 1 1 20%;


          &.ui-widget-content {
            border: 1px solid @c_blue_d;
            margin-bottom: 0 !important;
          }

          .ui-state-default {
            border: 2px solid @c_blue;
            background: @c_blue;
            border-radius: 10px;
            top: -4px;
          }
        }
      }
    }
  }

  &__select {
    .transition();
    background: @c_white;
    font-size: @s_text_0;
    border-radius: @radius_3;
    border: 1px solid @c_gray;
    width: 100%;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    padding: 5px 10px;

    &_open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .ui-state-active {
    background: @c_blue;
    color: @c_white;
    border: 0;
  }
  .ui-menu {

    &-item-wrapper {
      font-size: @s_text_1;
      font-family: @f_Monserat;
      padding: 5px 10px;
      white-space: nowrap;
    }
  }
  .ui-selectmenu  {
    &-menu {
      opacity: 0;
    }
    &-open {
      .animation(@key:fadeIn, @count:1, @dir:forwards);
    }
  }
}