//-------------------------------------------------------------------------//
// Filter //
//-------------------------------------------------------------------------//
.Filter {

  &__form {
    .flex();
  }

  &__filters {
    .flex(@j:flex-start);
    flex: 1;
  }

  &__block {
    .flex(@j:flex-start);
  }

  &__dropdown {
    .flex(@j:flex-start);
  }

  &__fieldset {
    margin: 5px 5px 5px 0;

    &[data-filter=opt_type_block] {
      display: none;
    }

    &_m1 {
      margin: 5px 15px 5px 0;
    }

    &_price {

      .price {
        .flex(@j:flex-start, @wrap:nowrap);

        & > input {
          .flex_cols(4);
          background: @c_white;
          font-size: @s_text_6;
          border-radius: @radius_3;
          border: 1px solid @c_gray;
          display: block;
          cursor: pointer;
          white-space: nowrap;
          padding: 2px 10px;
          max-width: 100px;
        }

        .title {
          margin: 0 10px 0 0;

          p {
            font-size: @s_text_6;
          }
        }

        .mse2_number_slider {
          min-width: 100px;
          margin: 0 15px 0 10px;


          &.ui-widget-content {
            border: 1px solid @c_blue_d;
            margin-bottom: 0 !important;
          }

          .ui-state-default {
            border: 2px solid @c_blue;
            background: @c_blue;
            border-radius: 10px;
            top: -4px;
          }
        }
      }
    }
  }

  &__title {
    .transition();
    font-size: @s_text_6;

    &_dropdown {
      color: @c_blue;
      cursor: pointer;
      width: 100%;
      display: block;
      white-space: nowrap;
      margin: 5px 20px 5px 0;
      line-height: 1em;

      &:hover {
        text-decoration: underline;
      }
    }

    &_checkbox {
      font-size: @s_text_6;
      color: @c_blue;
    }
  }

  &__enabled {
    margin: 10px 0;

    @media @xs {
      .Button {
        font-size: @s_text_0;
        text-align: left;
      }
    }
  }

  &__pagination {

    &List {
      .flex(@j:center);

      & > li {
        margin: 0 10px;
      }
    }
  }
}