.Gallery {
  &__button {
    background: url('/assets/components/minishop2/css/web/lib/fotorama.png') no-repeat;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    background-position: 0 -32px;
    z-index: 20;
    position: absolute;
  }
  &__image {
    max-height: 600px;
  }
}