.Gallery {

  &__image {
    height: 100%;
    max-height: 400px;
    position: absolute;
    margin: auto;
    width: auto !important;
    display: block !important;

    &:nth-child(1) {
      position: relative;
    }
  }

  .slick-slide {

    .Gallery__image {
      position: relative;
    }
  }
}