//-------------------------------------------------------------------------//
// Header //
//-------------------------------------------------------------------------//
.Header {
  background: @c_white;
  box-shadow: 0 0 15px -10px @c_blue_d;
  position: sticky;
  top: 0;
  z-index: 999;

  &__topWrap {
    .flex();
    padding: 20px 0;

    @media @sm_m {
      padding: 10px 0;
    }
  }

  &__phone {
    .flex(@j:flex-end);
    padding: 10px 0 0;

    @media @md_m {
      padding: 0;
    }
    @media @xs {
      margin: 5px 0 0 0;
    }

    .SitePhone {
      color: @c_gray_d;
      font-size: @s_text_3;
      font-family: @f_Monserat_b;
      margin-left: 10px;

      @media @md {
        font-size: @s_text_2;
      }
      @media @sm_m {
        font-size: @s_text_3;
      }
      @media @xs {
        font-size: @s_text_2;
      }
    }
  }

  &__logo {
    .flex_cols(4);
    line-height: 1;

    @media @sm_m {
      .flex_cols(6);
    }
    @media @xs {
      width: 40px;
      height: 25px;
      overflow: hidden;
    }

    & a {
      line-height: inherit;
    }

    & img {

      @media @xs {
        max-width: none;
        max-height: 100%;
      }
    }
  }

  &__menu {
    .flex();
    flex: 1;
    margin: 10px 0 0;

    @media @sm_m {
      flex: none;
    }
  }

  &__menuWrap {
    .flex_cols(16);
    background: @c_blue;
    padding: 0 0 15px;

    @media @sm_m {
      padding: 0 0 5px;
    }
  }

  &__catalogButton {
    .flex(@j:center);
    background: @c_white url('/assets/template/images/icons/block.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 62px;
    width: 280px;

    @media @sm_m {
      margin: 0 auto;
      height: 45px;
      width: 195px;
    }

    @media @xs {
      height: 32px;
      width: 139px;
    }

    & button {

      @media @sm_m {
        margin: inherit;
      }
    }

    svg {
      .transition();
      margin: 0 10px;
      position: relative;
      top: -1px;

      @media @sm_m {
        transform: rotate(-90deg);
      }

      @media @xs {
        display: none;
      }
    }

    & [data-status="true"] {
      svg {
        transform: rotate(180deg);

        @media @sm_m {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__catalogWrap {
    background: @c_white;
    display: none;
    opacity: 0;

    @media @md_p {
      .animation(@key:fadeIn, @count:1, @dir:forwards);
      position: absolute;
      width: 100%;
    }

    @media @sm_m {
      display: block;
      opacity: 1;
    }

    &[data-status="true"] {
      display: block;
    }
  }

  &__textWrap {

    @media @md_m {
      font-size: @s_text_1;
    }

    @media @sm_m {
      display: none;
    }

    & p {

      @media @md_m {
        font-size: inherit;
      }
    }
  }
}