//-------------------------------------------------------------------------//
// Header //
//-------------------------------------------------------------------------//
.Header {
  background: @c_white;
  position: sticky;
  top: 0;
  z-index: 999;

  &__topWrap {
    .flex();
    padding: 20px 0;
  }

  &__phone {
    .flex(@j:flex-end);
    padding: 10px 0 0;

    .SitePhone {
      color: @c_gray_d;
      font-size: @s_text_3;
      font-family: @f_Monserat_b;
      margin-left: 10px;
    }
  }

  &__logo {
    .flex_cols(4);
  }

  &__menu {
    .flex_cols(12);
    .flex();
    margin: 10px 0 0;
  }

  &__menuWrap {
    .flex_cols(16);
    background: @c_blue;
    padding: 0 0 15px;
  }

  &__catalogButton {
    .flex_cols(4);
    .flex(@j:center);
    background: @c_white url('/assets/template/images/icons/block.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 62px;
    max-width: 280px;

    @media @lg {
      height: 55px;
    }

    svg {
      .transition();
      margin: 0 10px;
      position: relative;
      top: -1px;
    }

    .js_active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__catalogWrap {
    display: none;
  }
}