.SalesBlock {
  background: @c_gray_l url('/assets/template/images/sales_block/bg.svg') center 100px no-repeat;
  padding: 20px 0;
  margin: 20px 0;
  background-size: auto 90%;

  @media @sm_m {
    padding: 15px 0;
  }

  &_bg1 {
    background: url("/assets/template/images/top_block/bg.png") center 50px no-repeat;

    @media @xs {
      background: url("/assets/template/images/top_block/bg.png") no-repeat
    }
  }

  &__wrap {
    .flex(@j:space-around);
    margin: 0 auto;
    position: relative;
  }

  &__notifies {
    .flex(@j:flex-start);
  }

  &__notify {
    background: @c_orange;
    color: @c_blue;
    padding: 10px 20px;
    transform: skew(-20deg, 0);
    border-radius: 5px;
    margin: 0 10px 0 0;

    &_revert {
      color: @c_blue;
      transform: skew(20deg,0);
      display: block;
    }
  }

  &__image {
    .flex_cols(7);
    text-align: center;
  }

  &__text {
    .flex_cols(7);

    @media @sm_m {
      .flex_cols(16);
      margin-top: 10px;
    }
  }

  .SitePhone {
    color: @c_blue;
    font-size: @s_text_4;
    font-family: @f_Monserat_b;
    line-height: 1.4em;

    @media @sm_m {
      font-size: @s_text_3;
    }
  }
}