.SalesBlock {
  background: @c_gray;
  padding: 100px 0;

  &__wrap {
    border: 4px solid @c_main;
    max-width: 850px;
    margin: 0 auto;
    padding: 10px 250px 0 0;
    position: relative;
    text-align: center;
  }

  &__img {
    position: absolute;
    right: -30px;
    bottom: -30px;
  }

  .SitePhone {
    color: @c_white;
  }
}