//-------------------------------------------------------------------------//
// TopBlock //
//-------------------------------------------------------------------------//
.TopBlock {
  background: url("/assets/template/images/top_block/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0 50px;

  &__wrap {
    .flex(@wrap:nowrap);
    background: url("/assets/template/images/top_block/bg_1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70% auto;
    padding: 20px 0;
  }

  &__text {
    .flex_cols(6);
  }

  &__image {
    max-width: none;

    & + & {
      margin-left: 20px;
    }
  }
}