//-------------------------------------------------------------------------//
// TopBlock //
//-------------------------------------------------------------------------//

.TopBlock {
  background: url("/assets/template/images/top_block/bg.jpg");

  &__wrap {
    .flex(@wrap:nowrap);
  }

  &__text {
    .flex_cols(9);
    padding-right: 15px;
  }

  &__images {
    .flex(@wrap:nowrap);
    .flex_cols(7);
  }

  &__image {
    max-width: none;

    & + & {
      margin-left: 20px;
    }
  }
}