.WhyBlock {
  background: @c_blue;
  margin: 0 0 100px 0;
  padding: 130px 0 100px 0;

  @media @sm_m {
    padding: 85px 0 15px;
    margin: 0 0 15px 0;
  }

  &__block {
    position: relative;
  }

  &__images {
    margin-bottom: 40px;
  }

  &__img {
    .transition();
    transform: scale(0.6);
    height: 150px;
    display: block;
    margin: 0 auto;
  }

  &__text {
    width: 200%;
    opacity: 0;
    visibility: hidden;

    @media @sm_m {
      width: 300%;
    }
  }

  &__nav {
    .Slider__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &__prev {
        left: 15px;
      }

      &_next {
        right: 15px;
      }
    }
  }

  .slick-center {
    .WhyBlock__text {
      .transition();
      position: absolute;
      left: -50%;
      visibility: visible;
      opacity: 1;
      transition-delay: 0.2s;

      @media @sm_m {
        left: -100%;
      }
    }
    .WhyBlock__img {
      transform: none;
    }
  }
}