{macro checkbox($opts)}
  {set $_opts = [
    'wrapper_class' => 'Form__fieldWrap Form__fieldWrap_checkbox',
    'label_class' => 'Form__label_checkbox',
    'label_text' => '',
    'input_class' => 'Form__field_checkbox'
    'name' => '',
    'icon' => 'icons/checkbox.svg',
    'checked' => 'checked',
    'disabled' => '',
    'id' => 'field_' ~ $opts.name
  ]}
  {set $_opts = $_opts | merge_array:$opts}

  <div class="{$_opts.wrapper_class}">
    <input name="{$_opts.name}"
           type="checkbox"
           class="Form__field {$_opts.input_class}"
           value="{$_opts.value}"
           id="{$_opts.id}"
           hidden
           {$_opts.checked}
           {$_opts.disabled}
           {if $_opts.title} data-title="{$_opts.title}" {/if}
           {if $_opts.data_id} data-data_id="{$_opts.data_id}" {/if}
           {if $_opts.parent_name} data-parent_name="{$_opts.parent_name}" {/if}>
    <label for="{$_opts.id}" class="Form__label {$_opts.label_class}">
      {if $_opts.icon}
        <span class="Icon Icon_checkbox">{'IncSvg' | snippet: ['file' => $_opts.icon]}</span>
      {/if}
      <span>{$_opts.label_text}</span>
    </label>
  </div>
{/macro}


{macro field($opts)}
  {set $_opts = [
    'wrapper_class' => 'Form__fieldWrap',
    'label_class' => 'Form__label_text',
    'label_text' => '',
    'input_class' => 'Form__field_text'
    'name' => '',
    'placeholder' => '',
    'icon' => '',
    'id' => 'field_' ~ $opts.name
  ]}
  {set $_opts = $_opts | merge_array:$opts}

  <div class="{$_opts.wrapper_class}">
    {if $_opts.label_text}
      <label for="{$_opts.id}" class="Form__label {$_opts.label_class}">{$_opts.label_text}</label>
    {/if}
    <input type="text"
           name="{$_opts.name}"
           class="Form__field {$_opts.input_class} {if $_opts.icon} Form__field_p1 {/if}"
           value="{$_opts.value}"
           id="{$_opts.id}"
           placeholder="{$_opts.placeholder}">
    {if $_opts.icon}
      <span class="Icon Icon_text">{'IncSvg' | snippet: ['file' => $_opts.icon]}</span>
    {/if}
  </div>
{/macro}



{macro textarea($opts)}
  {set $_opts = [
    'wrapper_class' => 'Form__fieldWrap',
    'label_class' => 'Form__label_text',
    'label_text' => '',
    'textarea_class' => 'Form__field_textarea',
    'name' => '',
    'placeholder' => '',
    'id' => 'field_' ~ $opts.name
  ]}
  {set $_opts = $_opts | merge_array:$opts}

  <div class="{$_opts.wrapper_class}">
    {if $_opts.label_text}
      <label for="{$_opts.id}" class="Form__label {$_opts.label_class}">{$_opts.label_text}</label>
    {/if}
    <textarea type="text"
              name="{$_opts.name}"
              class="Form__field {$_opts.textarea_class}"
              value="{$_opts.value}"
              id="{$_opts.id}"
              placeholder="{$_opts.placeholder}">
    </textarea>
  </div>
{/macro}


{macro filter($opts)}
  {set $_opts = [
    'wrapper_class' => 'Form__fieldWrap',
    'label_class' => '',
    'label_text' => '',
    'input_class' => ''
    'name' => '',
    'id' => 'field_' ~ $opts.name
  ]}
  {set $_opts = $_opts | merge_array:$opts}

  <div class="{$_opts.wrapper_class}">
    <input name="{$_opts.name}"
           type="checkbox"
           class="Form__field {$_opts.input_class}"
           value="{$_opts.value}"
           id="{$_opts.id}"
           hidden
           {$_opts.checked}>
    <label for="{$_opts.id}" class="Form__label {$_opts.label_class}">
      {$_opts.label_text}
    </label>
  </div>
{/macro}




{macro hidden($opts)}
  {set $_opts = [
    'name' => '',
    'id' => 'field_' ~ $opts.name,
    'checked' => '',
    'disabled' => '',
  ]}
  {set $_opts = $_opts | merge_array:$opts}

  <input name="{$_opts.name}"
         type="checkbox"
         value="{$_opts.value}"
         id="{$_opts.id}"
         hidden
         {$_opts.checked}
         {$_opts.disabled}
         {if $_opts.title} data-title="{$_opts.title}" {/if}
         {if $_opts.data_id} data-data_id="{$_opts.data_id}" {/if}
         {if $_opts.parent_name} data-parent_name="{$_opts.parent_name}" {/if}>
{/macro}


{macro callback($opts)}
  {set $_opts = [
    'type' => 'default',
    'button_class' => 'Button Button_v1 Button_m1 Button_mw1',
    'text_button' => 'Заказать'
    'fields' => [
      'name' => [
        'visible' => 0,
      ],
      'phone' => [
        'visible' => 0,
      ],
      'email' => [
        'visible' => 0,
      ],
      'count' => [
        'visible' => 0,
      ],
      'address' => [
        'visible' => 0,
      ],
      'policy' => [
        'visible' => 0,
      ],
    ]
  ]}
  {set $_opts = $_opts | merge_array:$opts}

  <form method="POST" class="Form Form__{$_opts.type} {$_opts.form_class}" id="Form__{$_opts.type}">
    {if $_opts.fields.name.visible == 1}
      {macro.field opts=[
        'label_text' => $_opts.fields.name.label,
        'name' => 'name',
        'placeholder' => 'Ваше имя',
      ] | merge_array:$_opts.fields.name}
    {/if}
    {if $_opts.fields.address.visible == 1}
      {macro.field opts=[
        'label_text' => $_opts.fields.address.label,
        'name' => 'address',
        'placeholder' => 'Адрес',
      ] | merge_array:$_opts.fields.address}
    {/if}
    {if $_opts.fields.count.visible == 1}
      {macro.field opts=[
        'label_text' => $_opts.fields.count.label,
        'name' => 'count',
        'placeholder' => 'палетт / м3',
      ] | merge_array:$_opts.fields.count}
    {/if}
    {if $_opts.fields.phone.visible == 1}
      {macro.field opts=[
        'label_text' => $_opts.fields.phone.label,
        'name' => 'phone',
        'placeholder' => 'Ваш телефон',
      ] | merge_array:$_opts.fields.phone}
    {else}
      <input type="text" name="phone" hidden value="00000000000">
    {/if}
    {if $_opts.fields.email.visible == 1}
      {macro.field opts=[
        'label_text' => $_opts.fields.email.label,
        'name' => 'email',
        'placeholder' => 'Ваша почта',
      ] | merge_array:$_opts.fields.email}
    {else}
      <input type="text" name="email" hidden value="empty@gazobeton.ru">
    {/if}
      <button type="submit" class="{$_opts.button_class}">{$_opts.text_button}</button>
    {if $_opts.fields.policy.visible == 1}
      {macro.checkbox opts=[
        'label_text' => 'Нажимая на кнопку вы даете согласие на обработку своих персональных данных. <br> Мы гарантируем их безопасность',
        'name' => 'policy',
      ] | merge_array:$_opts.fields.policy}
    {/if}
  </form>
  <div class="Form__error"></div>
{/macro}