//-------------------------------------------------------------------------//
// Catalog //
//-------------------------------------------------------------------------//

.Catalog {

  &__bottom {
    background: @c_gray_l;
    padding: 50px 0;

    @media @sm_m {
      padding: 15px 0;
    }

    &_m1 {
      margin-top: 60px;

      @media @xs {
        margin-top: 10px;
        padding: 10px 0;
      }
    }
  }

  &__content {

    p {
      margin-bottom: 5px;
    }
  }

  &__items {
    .flex(@j:flex-start, @a:stretch);
    background: @c_gray_l;
  }

  &__filter {
    .flex();
    position: absolute;
    top: -110px;
    left: 15px;
    width: ~'calc(100% - 30px)';
    z-index: 5;

    @media @md {
      top: -100px;
    }
    @media @sm {
      top: -99px;
    }
    @media @xs {
      position: static;
      margin-bottom: 10px;
      width: 100%;
    }

    .Form__fieldWrap {
      flex: 1;
      height: 60px;
      margin: 0;

      @media @md_m {
        height: 54px;
      }

      @media @sm {
        flex: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        z-index: 10;

        &:hover {
          z-index: 20;
        }

        &:nth-child(2) {
          left: 27.5%;
        }
        &:nth-child(3) {
          left: 52.7%;
        }
      }
      @media @xs {
        flex: none;
        width: 100%;
      }
    }

    .Form__label {
      .flex(@j:center);
      .size(100%, 100%);
      background: url(/assets/template/images/icons/block3.svg) center center no-repeat;
      background-size: contain;
      padding: 10px 70px 0;
      text-align: center;
      line-height: 1.2em;
      cursor: pointer;

      @media @md {
        padding: 10px 30px 0;
        font-size: @s_text_6;
      }

      @media @sm_m {
        padding: 10px 30px 0;
        font-size: @s_text_0;
      }
    }

    .Form__field:checked + .Form__label {
      background: url(/assets/template/images/icons/block4.svg) center center no-repeat;
      background-size: contain;
    }

    .Form__field:disabled + .Form__label {
      display: none;
    }
  }

  &__blocks {
    .flex();
    margin: 50px 0;
  }

  &__block {
    .flex_cols(7.5);
    position: relative;
    margin: 0 0 100px;

    @media @sm_m {
      margin: 0 0 10px;
    }
    @media @xs {
      .flex_cols(16);
      margin-bottom: 10px;
    }

    &_image {
      border-radius: @radius;
      width: 100%;
      height: 100%;
    }

    &_content {
      background: @c_blue;
      border-radius: @radius;
      padding: 35px 35px 30px;
      position: absolute;
      bottom: 0;
      transform: translateY(35%);
      right: 30px;
      max-width: 290px;

      @media @sm_m {
        position: static;
        transform: none;
        padding: 35px 10px 30px;
        margin-top: 10px;
      }
    }
  }
}