//-------------------------------------------------------------------------//
// Product //
//-------------------------------------------------------------------------//

.Product {

  &__top {
    background: @c_gray_l;
  }

  &__middle {
    padding: 50px 0;
  }

  &__bottom {
    background: @c_gray_l;
    padding: 50px 0;
  }

  &__item {
    .flex();
  }

  &__content {
    font-size: @s_text_2;
  }

  &__price {

    &_wrap {
      background: @c_gray_l;
      padding: 20px;
    }
  }

  &__optionsBlock {
    background: @c_white;
    border-radius: @radius;
    box-shadow: @shadow;
    padding: 30px;
  }
}