//-------------------------------------------------------------------------//
// Sertificate //
//-------------------------------------------------------------------------//

.Sertificate {

  &__content {
    margin: 0 0 50px;

    @media @md {
      margin: 0 0 30px;
    }
    @media @sm_m {
      margin: 0 0 15px;
    }
  }

  &__faq {
    margin: 50px 0;

    @media @md {
      margin: 30px 0;
    }
    @media @sm_m {
      margin: 15px 0;
    }
  }

  &__items {
    .flex(@a:flex-start);
  }

  &__item {
    .flex_cols(3.8);
    margin: 0 0 50px;

    @media @lg_m {
      .flex_cols(5.25);
    }
    @media @sm_m {
      .flex_cols(5);
      margin: 0 0 15px;
      text-align: center;
    }
    @media @xs {
      .flex_cols(7.5);
      margin: 0 0 10px;
    }
  }

  &__image {
    box-shadow: 15px 15px 0 0 @c_blue, @shadow;
    border-radius: @radius_2;
    max-height: 320px;
    margin: 0 0 40px;

    @media @md_m {
      border-radius: 20px;
      max-height: 220px;
    }
    @media @sm_m {
      box-shadow: 10px 8px 0 0 @c_blue, @shadow;
      max-height: 150px;
      margin: 0 0 15px;
    }
  }

  &__form {
    .flex(@a:stretch);


    &_left {
      .flex_cols(11);
      margin: 0 0 20px;

      @media @md {
        .flex_cols(9.5);
      }
      @media @sm {
        .flex_cols(7.5);
      }
      @media @xs {
        .flex_cols(16);
        max-width: 270px;
        margin: 0 auto 10px;
      }
    }

    &_right {
      .flex_cols(4.5);
      max-width: 270px;

      @media @md {
        .flex_cols(6);
      }
      @media @sm {
        .flex_cols(8);
      }
      @media @xs {
        .flex_cols(16);
        margin: 0 auto 10px;
      }
    }
  }
}