//-------------------------------------------------------------------------//
// Link // _c - Color; _s - Size; _p - Padding; _v - Verion
//-------------------------------------------------------------------------//
.A {
  display: inline-block;

  &_s1 {font-size: @s_text_0;}
  &_s2 {font-size: @s_text_1;}
  &_s3 {font-size: @s_text_2;}
  &_c1 {color: @c_main;}
  &_c2 {color: @c_white;}
  &_c3 {color: @c_black;}
  &_p1 {padding: 10px;}
  &_m1 {margin: 10px 0 0;}
  &_v1 {text-transform: uppercase;}
  &_v2 {font-family: @f_Monserat_b;}
}