//-------------------------------------------------------------------------//
// Link //
//-------------------------------------------------------------------------//
.A {
  display: inline-block;

  &_s0 {font-size: @s_text_0;}
  &_s1 {font-size: @s_text_1;}
  &_s2 {font-size: @s_text_1;}
  &_s3 {font-size: @s_text_2;}
  &_s4 {font-size: @s_text_5;}
  &_c1 {color: @c_blue;}
  &_c2 {color: @c_white;}
  &_c3 {color: @c_black;}
  &_c4 {color: @c_orange;}
  &_p1 {padding: 10px;}
  &_m1 {margin: 10px 0 0;}
  &_m2 {margin: 0 0 10px;}
  &_v1 {text-transform: uppercase;}
  &_v2 {font-family: @f_Monserat_b;}
  &_v3 {display: block}
  &_v4 {text-decoration: underline;}
}