//-------------------------------------------------------------------------//
// Button // _V - Version;
//-------------------------------------------------------------------------//
.Button {
  font-size: @s_text_0;
  border: 2px solid @c_red;
  color: @c_red;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;

  &_v1 {
    color: @c_white;
    background: @c_red;
  }
}