//-------------------------------------------------------------------------//
// Button //
//-------------------------------------------------------------------------//
.Button {
  .transition();
  font-size: @s_text_2;
  font-family: @f_Monserat;
  border-radius: @radius;
  border: 1px solid transparent;
  display: inline-block;
  padding: 10px 20px;
  line-height: 1em;
  cursor: pointer;

  &_m1 {margin: 0 10px 0 0;}
  &_m2 {margin: 10px 0 0;}
  &_m3 {margin: 0 0 20px;}
  &_c1 {color: @c_blue;}
  &_s1 {font-size: @s_text_1;}
  &_mw1 {min-width: 250px;}
  &_mw2 {min-width: 220px;}
  &_mw3 {max-width: 100%;}
  &_w1 {width: 100%;}

  &_clear {
    border: 0;
    background: transparent;
  }

  &_v1 {
    color: @c_white;
    background: @c_blue;

    &:hover {
      color: @c_blue;
      background: @c_white;
      border: 1px solid @c_blue;
    }
  }

  &_v2 {
    color: @c_red;

    &:hover {
      color: @c_white;
      background: @c_red;
    }
  }

  &_v3 {
    font-family: @f_Monserat_b;
    padding-left: 12px;
    text-transform: uppercase;
  }

  &_v4 {
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &_v5 {
    color: @c_white;
    background: @c_orange;

    &:hover {
      background: @c_blue;
    }
  }
}