//-------------------------------------------------------------------------//
// Form //
//-------------------------------------------------------------------------//
.Form {
  .transition();
  position: relative;
  z-index: 10;

  &_flex {.flex();}
  &_w1 {max-width: 350px;}
  &_m1 {margin: 0 auto;}

  label {
    cursor: pointer;
  }

  &__fieldWrap {
    .flex();
    position: relative;
    width: 100%;
    margin: 10px 0;

    &_mw1 {max-width: 250px;}
    &_h1 {height: 100%;}

    &_w1 {
      flex: none;
      width: 100%;
    }

    &[disabled] {
      display: none;
    }


    &_checkbox {
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 10px 5px;
      flex: 1;
      width: auto;

      .check {
        .transition();
        opacity: 0;
      }
    }

    &_m1 {margin: 5px;}
  }

  .Icon {
    position: absolute;
    line-height: 1em;

    &_checkbox {
      left: 0;
    }

    &_text {
      left: 15px;
      max-width: 15px;
    }
  }

  &__field {

    &_text {
      border: 1px solid @c_gray;
      border-radius: @radius;
      color: @c_gray;
      font-size: @s_text_1;
      width: 100%;
      padding: 10px 25px;

      @media @sm_m {
        font-size: @s_text_6;
        border-radius: @radius_3;
      }
    }

    &_textarea {
      border: 1px solid @c_gray;
      border-radius: @radius;
      color: @c_gray;
      font-size: @s_text_1;
      width: 100%;
      padding: 10px 25px;

      @media @sm_m {
        font-size: @s_text_6;
        border-radius: @radius_3;
      }
    }

    &_checkbox {
      &:checked + .Form__label .Icon {
        .check {
          opacity: 1;
        }
      }
      &:disabled + .Form__label {
        display: none;
      }
    }

    &_cols10 {
      .flex_cols(9.5);
    }

    &_mw1 {
      max-width: 250px;
      width: 100%;
    }

    &_w1 {width: 100%;}
    &_p1 {padding: 10px 25px 10px 35px;}
    &_h1 {height: 100%;}
  }

  &__label {

    &_checkbox {
      font-size: @s_text_0;
      padding-left: 25px;
      line-height: 1.6em;
    }

    &_text {
      color: @c_blue;
      font-size: @s_text_1;
      margin: 0 0 15px;
      width: 100%;

      @media @sm_m {
        font-size: @s_text_6;
        margin: 0 0 5px;
      }
    }

    &_c1 {color: @c_blue;}

    &_v1 {
      font-size: @s_text_0;
      span {
        white-space: nowrap;
      }
    }

    &_cols6 {
      .flex_cols(6);
    }
  }

  &__sublabel {
    font-size: @s_text_0;
    color: @c_black;
    display: block;
  }
}

.Form__ShipPrice {

  .Form__fieldWrap {
    margin: 0;
  }

  .Form__field_text {
    margin: 0 0 50px;

    @media @sm_m {
      margin: 0 0 15px;
    }
  }
}