//-------------------------------------------------------------------------//
// Header // _s - Size; _c - Color; _w - Width; _m - Margin; _v - Version;
//-------------------------------------------------------------------------//
.H {
  font-family: @f_Monserat_b;

  //-------------------------------------------------------------------------//
  &_s1 {font-size: @s_title_1;}
  &_s2 {font-size: @s_title_2;}
  &_s3 {font-size: @s_title_3;}
  &_s4 {font-size: @s_title_4;}

  //-------------------------------------------------------------------------//
  &_c1 {color: @c_main;}
  &_c2 {color: @c_red;}

  //-------------------------------------------------------------------------//
  &_w1 {width: 100%;}

  //-------------------------------------------------------------------------//
  &_m1 {margin: 0 0 50px;}

  //-------------------------------------------------------------------------//
  &_v1 {
    text-align: center;
  }
  &_v2 {
    text-transform: uppercase;
  }
}