//-------------------------------------------------------------------------//
// Paragraph //
//-------------------------------------------------------------------------//
.P {

  &_s0 {font-size: @s_text_0;}
  &_s1 {font-size: @s_text_1;}
  &_s2 {font-size: @s_text_2;}
  &_s3 {font-size: @s_text_3;}
  &_s4 {font-size: @s_text_4;}
  &_s5 {font-size: @s_title_3;}
  &_s6 {font-size: @s_title_2;}
  &_s7 {font-size: @s_title_1;}
  &_c1 {color: @c_blue;}
  &_c2 {color: @c_white;}
  &_c3 {color: @c_black;}
  &_c4 {color: @c_orange;}
  &_m1 {margin: 30px 0;}
  &_m2 {margin: 0 0 10px;}
  &_m3 {margin: 0 0 5px;}
  &_m4 {margin: 0 0 20px;}
  &_m5 {margin: 20px 0;}
  &_m6 {margin: 50px 0;}
  &_p1 {padding: 15px;}
  &_b1 {background: @c_blue;}
  &_w1 {width: 100%;}
  &_v1 {text-transform: uppercase;}
  &_v2 {font-family: @f_Monserat_b;}
  &_v3 {line-height: 2.2em;}
  &_v4 {line-height: 1.6em;}
  &_v5 {display: inline;}
}