//-------------------------------------------------------------------------//
// Paragraph //
//-------------------------------------------------------------------------//
.P {

  &_s0 {font-size: @s_text_0;}
  &_s1 {font-size: @s_text_1;}
  &_s2 {font-size: @s_text_2;}
  &_s3 {font-size: @s_text_3;}
  &_c1 {color: @c_main;}
  &_c2 {color: @c_white;}
  &_c3 {color: @c_black;}
  &_m1 {margin: 30px 0;}
  &_m2 {margin: 0 0 10px;}
  &_m3 {margin: 0 0 5px;}
  &_p1 {padding: 15px;}
  &_b1 {background: @c_main;}
  &_w1 {width: 100%;}
  &_v1 {text-transform: uppercase;}
}