//-------------------------------------------------------------------------//
// Table //
//-------------------------------------------------------------------------//
.Table {

  &__tr {
    .flex(@wrap:nowrap, @j:flex-start);
  }

  &__td {
    padding: 5px 10px;

    &_mw1 {
      max-width: 70%;
      width: 100%;
    }
  }
}