//-------------------------------------------------------------------------//
// Typography //
//-------------------------------------------------------------------------//
.T {
  // Font-Size //
  &_s0 {font-size: @s_text_0;} // 8pt
  &_s1 {font-size: @s_text_1;} // 10.5pt
  &_s2 {font-size: @s_text_2;} // 11.8pt
  &_s3 {font-size: @s_text_3;} // 18pt
  &_s4 {font-size: @s_text_4;} // 24pt
  &_s5 {font-size: @s_text_5;} // 13.5pt
  &_s6 {font-size: @s_title_4;} // 16pt
  &_s7 {font-size: @s_title_3;} // 20pt
  &_s8 {font-size: @s_title_2;} // 24pt
  &_s9 {font-size: @s_title_1;} // 26pt
  &_s10 {font-size: @s_text_6;} // 9.5pt

  @media @lg {
    &_s4 {font-size: @s_title_3;} // 20pt
    &_s7 {font-size: @s_text_3;} // 18pt
    &_s9 {font-size: @s_title_2;} // 24pt
  }
  @media @md_m {
    &_s1 {font-size: @s_text_6;} // 10.5pt
    &_s4 {font-size: @s_text_3;} // 18pt
    &_s7 {font-size: @s_title_4;} // 16pt
    &_s9 {font-size: @s_title_3;} // 20pt
    &_s8 {font-size: @s_text_3;} // 18pt
    &_s2 {font-size: @s_text_1;} // 10.5pt
  }
  @media @sm_m {
    &_s7 {font-size: @s_text_5;} // 13.5pt
    &_s2 {font-size: @s_text_6;} // 9.5pt
    &_s4 {font-size: @s_text_5;} // 13.5pt
    &_s9 {font-size: @s_text_3;} // 18pt
    &_s6 {font-size: @s_text_5;} // 13.5pt
    &_s10 {font-size: @s_text_0;} // 8pt
    &_s8 {font-size: @s_text_5;} // 13.5pt
  }
  @media @xs {
    &_s9 {font-size: @s_text_5;} // 13.5pt
    &_s2 {font-size: @s_text_0;} // 9.5pt
    &_s4 {font-size: @s_text_2;} // 11.5pt
    &_s1 {font-size: @s_text_0;} // 8pt
    &_s5 {font-size: @s_text_6;} // 13.5pt
  }

  // Text color //
  &_c1 {color: @c_blue;}
  &_c2 {color: @c_white;}
  &_c3 {color: @c_black;}
  &_c4 {color: @c_orange;}
  &_c5 {color: @c_red;}

  // Margin //
  &_m0 {margin: 0;}
  &_m1 {margin: 0 0 5px;}
  &_m2 {margin: 0 0 10px;}
  &_m3 {margin: 0 0 20px;}
  &_m4 {margin: 0 0 50px;}
  &_m5 {margin: 20px 0;}
  &_m6 {margin: 30px 0;}
  &_m7 {margin: 50px 0;}
  &_m8 {margin: 20px 0 10px;}
  &_m9 {margin: 50px 0 10px;}

  @media @sm_m {
    &_m4 {margin: 20px 0;}
    &_m7 {margin: 20px 0;}
  }
  @media @xs {
    &_m3 {margin: 0 0 5px;}
    &_m5 {margin: 5px 0;}
  }

  // Line-height //
  &_lh1 {line-height: 1.2em;}
  &_lh2 {line-height: 1.6em;}
  &_lh3 {line-height: 2.2em;}
  &_lh4 {line-height: 20px;}

  // Background //
  &_bg1 {background: @c_blue;}

  // Width //
  &_w1 {width: 100%;}

  // Other //
  &_upper {text-transform: uppercase;}
  &_bold {font-family: @f_Monserat_b;}
  &_center {text-align: center;}
  &_left {text-align: left;}
  &_inline {display: inline;}
  &_block {display: block}
  &_underline {text-decoration: underline;}


  &__P {
    display: inline-block;
  }

  &__A {
    display: inline-block;

    &_v5 {
      background: @c_blue_d;
      border-radius: @radius_3;
      font-family: @f_Monserat_b;
      color: @c_white;
      display: block;
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }
}
