//-------------------------------------------------------------------------//
// Grids // 16 cols // _j - Justify content, _a - Align Items
//-------------------------------------------------------------------------//
@col_size: 6.25%;

._flex(@wrap: wrap) {
  display: flex;
  flex-wrap: @wrap;
}

.flex(@a: center, @j: space-between, @wrap: wrap, @dir: row) {
  ._flex(@wrap);
  align-items: @a;
  justify-content: @j;
  flex-direction: @dir;
}

.flex_cols(@count) {
  width: @col_size * @count;
}

.flex_offset_l(@count) {
  margin-left: @col_size * @count;
}

.flex_offset_r(@count) {
  margin-right: @col_size * @count;
}

.flex_col(@size, @resize, @col) {
  flex: @size @resize (@col_size * @col);
}


.g_flex {
  ._flex();

  &_j { // justify-content

    &_between {
      justify-content: space-between;
    }
    &_center {
      justify-content: center;
    }
    &_start {
      justify-content: flex-start;
    }
    &_end {
      justify-content: flex-end;
    }
  }

  &_a { // align-items

    &_center {
      align-items: center;
    }
    &_start {
      align-items: flex-start;
    }
    &_end {
      align-items: flex-end;
    }
  }
}
