//-------------------------------------------------------------------------//
// Mixins //
//-------------------------------------------------------------------------//
.fontLoad(@name, @file) {
	font-family: @name;
	src: url('../fonts/@{file}.eot');
	src:
			url('../fonts/@{file}.woff') format('woff'),
			url('../fonts/@{file}.ttf') format('truetype'),
			url('../fonts/@{file}.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

.transition(@animation: 0.2s, @prop: all, @ease: linear) {
	transition: @prop @animation @ease;
}

.animation(@key, @time: 0.4s, @ease: ease, @count: infinity, @dir: normal) {
	animation:@key @time @ease @count @dir;
}


.size(@width, @height) {
  width: @width;
  height: @height;
}