//-------------------------------------------------------------------------//
// Colors // _l - Light, _d - Dark
//-------------------------------------------------------------------------//
@c_main: #055f94;
@c_main_l: #4988b3;
@c_white: #ffffff;
@c_black: #1a1a1a;
@c_gray: #cccccc;
@c_red: #b10814;

//-------------------------------------------------------------------------//
// Font Size // _title - Title size, _text - Text size
//-------------------------------------------------------------------------//
@s_title_1: 42px;
@s_title_2: 24pt;
@s_title_3: 20pt;
@s_title_4: 16pt;
@s_text_0: 14px;
@s_text_1: 16px;
@s_text_2: 18px;
@s_text_3: 20px;
@s_text_4: 24px;

//-------------------------------------------------------------------------//
// Fonts // _b - Bold
//-------------------------------------------------------------------------//
@f_Monserat: ~"'Montserrat-Regular', sans-serif";
@f_Monserat_b: ~"'Montserrat-Bold', sans-serif";

//-------------------------------------------------------------------------//
// Media Query // _m - Minus, _p - Plus
//-------------------------------------------------------------------------//
@xs: ~"(max-width: 575.98px)";
@sm_m: ~"(max-width: 767.98px)";
@sm: ~"(min-width: 576px) and (max-width: 767.98px)";
@sm_p: ~"(min-width: 576px)";
@md_m: ~"(max-width: 991.98px)";
@md: ~"(min-width: 768px) and (max-width: 991.98px)";
@md_p: ~"(min-width: 768px)";
@lg_m: ~"(max-width: 1199.98px)";
@lg: ~"(min-width: 992px) and (max-width: 1199.98px)";
@lg_p: ~"(min-width: 992px)";
@xl: ~"(min-width: 1200px)";

//-------------------------------------------------------------------------//
// Othres //
//-------------------------------------------------------------------------//

@radius: 50px;
@shadow: 0 0 15px -10px @c_black;

