<div class="Assets hidden">
  <script src="/assets/template/scripts/libs/jquery-3.3.1.min.js" ></script>
  <script src="/assets/template/scripts/libs/jquery-ui.min.js" ></script>
  <script src="/assets/template/scripts/libs/jquery-input-mask-phone-number.js"></script>
  <script src="/assets/template/scripts/libs/slick.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=c5003c7f-b996-400e-ae37-865113e667bf&lang=ru_RU"></script>
  <script src='/assets/template/scripts/main.js' type="module"></script>

  <link rel="stylesheet" href="/assets/template/styles/index.css">
</div>