<base href="{$_modx->config.site_url}">
<meta charset="UTF-8">
<title>{$_modx->resource.MetaTitle ?: $_modx->resource.pagetitle}</title>
<meta name="keywords" content="{$_modx->resource.MetaKey}">
<meta name="description" content="{$_modx->resource.MetaDescription ?: $_modx->resource.pagetitle}">
<meta property="og:title" content="{$_modx->resource.MetaTitle ?: $_modx->resource.pagetitle}">
<meta property="og:description" content="{$_modx->resource.MetaDescription ?: $_modx->resource.pagetitle}">
<meta property="og:type" content="Product">
<meta property="og:image" content="/assets/template/images/logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/assets/template/images/favicon.ico" type="image/x-icon">