<base href=[[++site_url]]>
<meta charset="UTF-8">
<title>[[*MetaTitle:default=`[[*pagetitle]]`]]</title>
<meta name="keywords" content="[[*MetaKey]]">
<meta name="description" content="[[*MetaDescription:default=`[[*pagetitle]]`]]">
<meta property="og:title" content="[[*MetaTitle:default=`[[*pagetitle]]`]]">
<meta property="og:description" content="[[*MetaDescription:default=`[[*pagetitle]]`]]">
<meta property="og:type" content="Product">
<meta property="og:image" content="/assets/template/images/logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/assets/template/images/favicon.ico" type="image/x-icon">